

  <div>
    <h2>Bakiye Güncelleme</h2>
    <form (ngSubmit)="onUpdateBakiye()">
      <label for="hesapNo">Hesap Numarası:</label>
      <input type="number" id="hesapNo" [(ngModel)]="hesapNo" name="hesapNo" required>
  
      <label for="yeniBakiye">Yeni Bakiye:</label>
      <input type="number" id="yeniBakiye" [(ngModel)]="yeniBakiye" name="yeniBakiye" required>
  
      <button type="submit">Güncelle</button>
      <button (click)="goBack()">GERİ DÖN</button>

    </form>
  
    <p *ngIf="mesaj">{{ mesaj }}</p>
  </div>