<div class="home-container">
    <h1>STAJBANK</h1>
  
    <!-- Hesaplar Butonu -->
    <button (click)="goHesaplar()">HESAPLARI GÖRÜNTÜLE</button>
  
    <!-- Hesap Ekleme Butonu -->
    <button (click)="goHesapekle()">HESAP EKLE</button>
  
    <!-- Hesap Silme Butonu -->
    <button (click)="goHesapsil()">HESAP SİL</button>
  
    <!-- Bakiye Güncelleme Butonu -->
    <button (click)="goBakiye()">BAKİYE GÜNCELLE</button>
  
    <!-- Çıkış Butonu   -->
   <button (click)="logout()">ÇIKIŞ</button>
  </div>